In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
sc = SparkContext.getOrCreate()
ss = SparkSession.builder.getOrCreate()

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./chicago_taxi_trips_2016_06.csv')
data.head()

,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,5297.0,2016-6-5 19:15:00,2016-6-5 19:30:00,960.0,6.9,NaN,187.0,8.0,77.0,19.75,0.00,0.0,1.0,20.75,Cash,NaN,167.0,754.0,646.0,574.0
1,7491.0,2016-6-29 17:00:00,2016-6-29 18:00:00,3660.0,14.3,NaN,379.0,76.0,3.0,41.25,9.05,0.0,4.0,54.30,Credit Card,107.0,225.0,6.0,166.0,725.0
2,3668.0,2016-6-18 07:15:00,2016-6-18 07:45:00,1080.0,11.8,NaN,NaN,16.0,76.0,30.50,0.00,0.0,0.0,30.50,Cash,101.0,527.0,24.0,575.0,547.0
3,281.0,2016-6-6 21:45:00,2016-6-6 21:45:00,360.0,1.1,NaN,959.0,32.0,8.0,6.75,0.00,0.0,0.0,6.75,Cash,107.0,64.0,231.0,167.0,754.0
4,7985.0,2016-6-3 17:30:00,2016-6-3 17:45:00,900.0,0.1,NaN,334.0,28.0,8.0,10.00,0.00,0.0,0.0,10.00,Cash,107.0,395.0,408.0,294.0,113.0

In [3]:
data1 = data.drop(['taxi_id', 'pickup_census_tract', 'dropoff_census_tract', 'company'], axis = 1)

In [4]:
# missing value imputation; clean trip_seconds, trip_end_time and fare...
data1.drop(data1.loc[data1.fare.isna() | data1.trip_seconds.isna() | data1.dropoff_community_area.isna() | data1.pickup_community_area.isna()].index, axis = 0, inplace = True)
data1

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude
0,2016-6-5 19:15:00,2016-6-5 19:30:00,960.0,6.9,8.0,77.0,19.75,0.00,0.0,1.0,20.75,Cash,167.0,754.0,646.0,574.0
1,2016-6-29 17:00:00,2016-6-29 18:00:00,3660.0,14.3,76.0,3.0,41.25,9.05,0.0,4.0,54.30,Credit Card,225.0,6.0,166.0,725.0
2,2016-6-18 07:15:00,2016-6-18 07:45:00,1080.0,11.8,16.0,76.0,30.50,0.00,0.0,0.0,30.50,Cash,527.0,24.0,575.0,547.0
3,2016-6-6 21:45:00,2016-6-6 21:45:00,360.0,1.1,32.0,8.0,6.75,0.00,0.0,0.0,6.75,Cash,64.0,231.0,167.0,754.0
4,2016-6-3 17:30:00,2016-6-3 17:45:00,900.0,0.1,28.0,8.0,10.00,0.00,0.0,0.0,10.00,Cash,395.0,408.0,294.0,113.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1934474,2016-6-14 01:15:00,2016-6-14 01:15:00,0.0,0.1,32.0,32.0,3.50,0.00,0.0,0.0,3.50,Cash,744.0,605.0,64.0,231.0
1934475,2016-6-2 20:15:00,2016-6-2 20:15:00,360.0,0.8,32.0,32.0,6.00,0.00,0.0,0.0,6.00,Cash,18.0,610.0,744.0,605.0
1934476,2016-6-19 10:30:00,2016-6-19 10:45:00,540.0,2.2,8.0,28.0,9.50,3.25,0.0,1.0,13.75,Credit Card,161.0,649.0,681.0,196.0
1934477,2016-6-14 07:45:00,2016-6-14 07:45:00,0.0,0.0,28.0,28.0,3.25,0.00,0.0,0.0,3.25,Cash,411.0,545.0,411.0,545.0
1934478,2016-6-3 14:00:00,2016-6-3 14:45:00,2700.0,19.5,76.0,76.0,50.25,11.05,0.0,5.0,66.30,Credit Card,225.0,6.0,225.0,6.0

In [5]:
data1.isna().sum()

trip_start_timestamp      0
trip_end_timestamp        0
trip_seconds              0
trip_miles                0
pickup_community_area     0
dropoff_community_area    0
fare                      0
tips                      0
tolls                     0
extras                    0
trip_total                0
payment_type              0
pickup_latitude           0
pickup_longitude          0
dropoff_latitude          0
dropoff_longitude         0
dtype: int64

In [6]:
data1['trip_start_timestamp'] = pd.to_datetime(data1['trip_start_timestamp'])
data1['trip_end_timestamp'] = pd.to_datetime(data1['trip_end_timestamp'])

In [7]:
# feature engineering with the datetime variable (can not be used in tree model)
data1['month'] = data1['trip_start_timestamp'].dt.month
data1['dayofweek'] = data1['trip_start_timestamp'].dt.dayofweek
data1['start_hour'] = data1['trip_start_timestamp'].dt.hour
data1['end_hour'] = data1['trip_end_timestamp'].dt.hour

In [8]:
data1 = data1.reset_index()

In [9]:
data1.head()

,index,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,tolls,...,trip_total,payment_type,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,month,dayofweek,start_hour,end_hour
0,0,2016-06-05 19:15:00,2016-06-05 19:30:00,960.0,6.9,8.0,77.0,19.75,0.00,0.0,...,20.75,Cash,167.0,754.0,646.0,574.0,6,6,19,19
1,1,2016-06-29 17:00:00,2016-06-29 18:00:00,3660.0,14.3,76.0,3.0,41.25,9.05,0.0,...,54.30,Credit Card,225.0,6.0,166.0,725.0,6,2,17,18
2,2,2016-06-18 07:15:00,2016-06-18 07:45:00,1080.0,11.8,16.0,76.0,30.50,0.00,0.0,...,30.50,Cash,527.0,24.0,575.0,547.0,6,5,7,7
3,3,2016-06-06 21:45:00,2016-06-06 21:45:00,360.0,1.1,32.0,8.0,6.75,0.00,0.0,...,6.75,Cash,64.0,231.0,167.0,754.0,6,0,21,21
4,4,2016-06-03 17:30:00,2016-06-03 17:45:00,900.0,0.1,28.0,8.0,10.00,0.00,0.0,...,10.00,Cash,395.0,408.0,294.0,113.0,6,4,17,17

In [10]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data1['payment_num'] = pd.DataFrame(le.fit(data1['payment_type']).transform(data1['payment_type']))

In [11]:
data1.isna().sum()

index                     0
trip_start_timestamp      0
trip_end_timestamp        0
trip_seconds              0
trip_miles                0
pickup_community_area     0
dropoff_community_area    0
fare                      0
tips                      0
tolls                     0
extras                    0
trip_total                0
payment_type              0
pickup_latitude           0
pickup_longitude          0
dropoff_latitude          0
dropoff_longitude         0
month                     0
dayofweek                 0
start_hour                0
end_hour                  0
payment_num               0
dtype: int64

In [12]:
data1.shape

(1579839, 22)

In [13]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(data1.drop(['index', 'payment_type','trip_start_timestamp','trip_end_timestamp', 'fare', 'tips', 'tolls', 'extras'], axis = 1), data1['fare'], test_size=0.33, random_state=42)

In [22]:
X_train

,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,trip_total,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,month,dayofweek,start_hour,end_hour,payment_num
787346,2160.0,7.3,7.0,28.0,26.25,173.0,203.0,158.0,270.0,6,5,19,19,0
218733,300.0,0.0,8.0,32.0,5.50,210.0,470.0,744.0,605.0,6,1,9,9,0
961973,3540.0,18.7,76.0,8.0,51.75,225.0,6.0,516.0,271.0,6,4,19,20,0
967094,2460.0,0.5,77.0,1.0,28.75,556.0,288.0,37.0,370.0,6,3,21,22,0
1012888,480.0,0.7,8.0,28.0,9.50,754.0,410.0,395.0,408.0,6,0,13,14,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259178,1320.0,9.6,8.0,60.0,26.25,599.0,346.0,557.0,700.0,6,2,12,12,0
1414414,480.0,1.7,32.0,28.0,9.50,64.0,231.0,681.0,196.0,6,5,20,20,1
131932,300.0,0.7,8.0,28.0,5.50,754.0,410.0,395.0,408.0,6,1,10,10,0
671155,540.0,0.2,3.0,6.0,11.00,96.0,716.0,630.0,208.0,6,3,23,23,0
121958,4680.0,17.4,76.0,8.0,64.05,225.0,6.0,688.0,206.0,6,3,16,17,1

In [23]:
regr = RandomForestRegressor(min_samples_leaf=10, max_depth=50, n_estimators=30)
regr.fit(X_train.values, y_train.values)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=100, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=10,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [26]:
regr.score(X_train, y_train)

0.6081815383293236

In [ ]:
regr.score(X_test, y_test)